body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #0b5ed7;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    background: white;
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 6px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: gray;
}
